# Explicit dependencies
jsons==1.4.2
praw==7.2.0
tornado==6.1
PyYAML==5.4.1

# Implicit dependencies
certifi==2020.12.5
chardet==4.0.0
idna==2.10
prawcore==2.0.0
requests==2.25.1
six==1.15.0
typish==1.9.2
update-checker==0.18.0
urllib3==1.26.4
websocket-client==0.58.0
